@use "../abstracts";
.checkout-container {
    margin-top: 30px;
}
.checkout__breadcrumbs {
    background-color: var(--checkout__breadcrumbs-bg);
}
.checkout-page {
    padding-bottom: 40px;
}
.cart-info {
    padding: 0 30px;
    border-radius: 20px;
    background-color: var(--cart-info-bg);
    @include abstracts.screen(xl) {
        padding: 0 16px;
    }
    &__right {
        padding: 30px;
        @include abstracts.screen(xl) {
            margin-top: 30px;
        }
        @include abstracts.screen(md) {
            padding: 16px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    &__continue {
        display: flex;
        height: 100%;
        align-items: flex-end;
        &-link {
            gap: 10px;
            display: flex;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        margin-top: 10px;

        &--bold {
            font-weight: 700;
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
    &__separate {
        margin: 30px 0;
        height: 1px;
        background-color: #d2d1d6;
    }
    &__next-btn {
        margin-top: 30px;
        width: 100%;
    }
    &__gift {
        margin-top: 30px;
    }
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
    &__checkbox-input {
        appearance: none;
        background-color: transparent;
        &::before {
            content: url(../../assets/icons/uncheck.svg);
        }
        &:checked::before {
            content: url(../../assets/icons/check.svg);
        }
    }
}
// .cart-info__checkbox-input:not(:checked)::before {
//     filter: var(--icon-color);
// }
.cart-item {
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
    border-bottom: 1px solid #d2d1d6;
    @include abstracts.screen(md) {
        gap: 16px;

        &:last-child {
            border: none;
        }
    }

    &__thumb {
        width: 175px;
        height: 172px;
        object-fit: contain;
        @include abstracts.screen(xl) {
            width: 60px;
            height: 60px;
        }
    }
    &__content {
        flex: 1;
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }
    }
    &__title {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
    &__price-wrap {
        margin: 16px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;
    }
    &__status {
        color: #67b044;
    }
    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 44px;
        margin-top: auto;

        @include abstracts.screen(md) {
            &--md-block {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &__input {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 0 20px;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }

        &-btn {
            display: flex;
            cursor: pointer;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__total-price {
        text-align: right;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(xl) {
            margin-top: 16px;
            text-align: left;
        }
        @include abstracts.screen(md) {
            margin-bottom: 10px;
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }
    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }
}
.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__wrap {
        padding: 10px;
        border-radius: 14px;
        background: rgba(118, 68, 225, 0.1);
        box-shadow: 0px 20px 60px 10px var(--gift-item-wrap-bg);

        @include abstracts.screen(md) {
            padding: 8px;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
    &__desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
        margin-top: 10px;
    }
}
.shipping {
    &__heading {
        padding-top: 30px;
    }
}

.use-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
}
.address-card {
    margin-top: 30px;
    display: flex;
    &__left {
        display: flex;
        gap: 16px;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
        width: min(520px, 90%);
    }
    &__list {
        list-style: disc inside;
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 30px;
    }
    &__item {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
    &__right {
        margin-left: auto;
        align-self: flex-end;
    }
    &__edit-btn {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
        display: flex;
        gap: 10px;
    }
}
