@use "../abstracts";
.product {
    &-page {
        display: flex;
        flex-direction: column;
        background-color: var(--product-detail-bg);
    }

    &-container {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &-info-content {
        @include abstracts.screen(md) {
            background-color: var(--product-info-content-bg);

            border-radius: 10px;
        }
    }

    &-preview {
        padding: 0 30px;

        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: row-reverse;
        }

        @include abstracts.screen(md) {
            padding: 0 16px;
        }

        &__list {
            display: flex;
            align-items: center;
            overflow: hidden;
            flex: 1;
        }
        &__item {
            position: relative;
            width: 100%;
            flex-shrink: 0;
            padding-top: 92%;

            @include abstracts.screen(md) {
                padding-top: 75%;
            }
        }
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &__thumbs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 30px;

            @include abstracts.screen(lg) {
                flex-direction: column;
            }
        }
        &__thumb {
            width: 65px;
            height: 65px;
            object-fit: contain;
            border: 1px solid rgba(158, 157, 168, 0.3);
            border-radius: 10px;
            cursor: pointer;
            opacity: 0.9;
            transition: opacity, border-color;
            transition-duration: 0.3s;

            &:hover {
                opacity: 1;
                border-color: rgba(158, 157, 168, 1);
            }

            &--current {
                opacity: 1;
                border-color: #ffb700;
                pointer-events: none;
            }
        }
    }
    &-prop {
        display: flex;
        gap: 20px;

        &__icon {
            align-self: flex-start;
        }

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
        &__desc {
            margin-top: 4px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }

        &__card {
            padding: 20px;
            border-radius: 0.6rem;
            border: 1px solid #b9babe;
        }
        &__row {
            display: flex;
            align-items: center;
        }
        &__price {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
        &__tax {
            color: #67b044;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            background-color: rgba(103, 176, 69, 0.3);
            padding: 0 8px 0 8px;
            margin-left: 10px;
            border-radius: 4px;
        }
        &__total-price {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 138.462%;
        }
    }
    &-props {
        @include abstracts.screen(xl) {
            margin-top: 30px;
        }
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-info {
        padding: 60px;
        background-color: var(--product-info-bg);
        border-radius: 10px;

        @include abstracts.screen(xxl) {
            padding: 40px;
        }

        @include abstracts.screen(md) {
            // background-color: #fff;
            padding: 16px;
        }

        &__heading {
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 138.462%;
            margin-bottom: 30px;

            @include abstracts.screen(md) {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 144.444%;
            }
        }
        &__label {
            margin-top: 30px;
        }
        &__tag {
            background-color: var(--product-tag-bg);
        }

        &__add-to-cart {
            flex: 1;
        }
        &__like-btn {
            margin-left: 20px;
            border-radius: 6px;
            border: 1px solid var(--secondary-color-secondary-3, #d2d1d6);
        }
    }

    // product-card
    &-tab {
        &__list {
            display: flex;
            gap: 30px;
            align-items: center;
        }
        &__item {
            color: #9e9da8;
            font-size: 22px;
            font-weight: 500;
            line-height: 145.455%;

            &--current {
                color: inherit;
            }
        }
        &__content {
            display: none;

            &--current {
                display: block;
            }
        }
    }
    // content
    &-content {
        margin-top: 30px;

        &__heading {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 141.667%;
        }
    }
}

.review-card {
    background-color: var(--review-card-bg);
    border-radius: 16px;
    padding: 30px;
    &__content {
        display: flex;
        gap: 20px;
    }
    &__img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    &__title {
        font-size: 22px;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-top: 10px;
    }
    &__rating {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 20px;
        &-title {
            font-size: 18px;
            font-weight: 500;
            line-height: 144.444%;
            margin-left: auto;
        }
    }
}
