@use "../abstracts";

html {
    --white-color: #fff;
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // category
    --cate-item-bg-color: #eee;
    --cate-title-color: #000;
    --cate-thumb-bg: #fff;

    @include abstracts.screen(md) {
        --cate-item-bg-color: #fff;
    }

    // filter button
    --filter-bg-color: #fff;
    --filter-color: #6c6c72;

    // product-card
    --product-card-bg-color: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
}
