@use "../abstracts";
.form {
    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid var(--secondary-color-secondary-3, #d2d1d6);
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }
    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__label {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            display: block;
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }
    &__tag {
        background-color: var(--fitler-form-tag-bg);
        padding: 6px 12px;
        border-radius: 6px;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #9e9da8;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }
}
