@use "../abstracts";
.cate {
    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
        padding: 20px 26px 20px 20px;
        background-color: var(--cate-item-bg-color);
        border-radius: 16px;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(md) {
            flex-direction: row;
            gap: 18px;
            background: var(--cate-item-bg-color);
        }
    }

    &__thumb {
        display: block;
        width: 116px;
        height: 116px;
        object-fit: contain;
        background: var(--cate-thumb-bg);
        border-radius: 8px;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;

        @include abstracts.screen(xxl) {
            padding-right: 0px;
        }
    }

    &__title {
        color: var(--cate-title-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }

    &__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        margin-top: 6px;
        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
