.form {
    width: 100%;
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__error {
        text-align: left;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba($color: #ed4337, $alpha: 0.7);
        display: none;
    }

    &__icon--error {
        display: none;
        margin-left: 12px;
        animation: shake 0.5s;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
            background: rgba($color: #ed4337, $alpha: 0.1);
        }
        .form__icon--error,
        .form__error {
            display: block;
        }

        .form__icon {
            display: none;
        }
    }

    &__group {
        margin-top: 30px;
        border-radius: 10px;

        &-inline {
            display: flex;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: var(--checkbox-label-color);
        }
    }
    &__text-input {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;
    }

    &__input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        background-color: transparent;
        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    &__icon {
        margin-left: 12px;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;

            border: 1.5px solid #9e9da8;
            border-radius: 5px;
        }

        &:has(:checked) {
            &::before {
                background: #ffb700;
                border-color: #ffb700;
            }

            &::after {
                width: 15px;
                height: 8px;
                border: 2px solid;
                border-color: transparent transparent #fff #fff;
                rotate: -45deg;
                left: 2px;
                top: 4px;
            }
        }
    }
}
