.form {
    width: 100%;
    &__group {
        margin-top: 30px;
        border-radius: 10px;

        &-inline {
            display: flex;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: var(--checkbox-label-color);
        }
    }

    &__input {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    &__text-input {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border: 1px solid var(--border-form-color);
        border-radius: 10px;
        padding: 12px;
    }

    &__icon {
        margin-left: 12px;
    }

    &__checkbox {
        display: flex;
        align-items: center;
    }
}
