.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.2s;
    &--small &__content {
        --content-width: 400px;
    }

    &__content {
        padding: 30px 10px 30px 30px;
        position: relative;
        z-index: 1;
        width: min(var(--content-width, 800px), 100% - 40px);
        border-radius: 20px;
        background: var(--dialog-bg);
        box-shadow: 0px 20px 60px 10px var(--dialog-shadow);
    }
    &__text {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__bottom {
        display: flex;
        margin-top: 50px;
        justify-content: flex-end;
    }
    &__overlay {
        background: rgba(0, 0, 0, 0.4);
    }
    &__overlay,
    & {
        position: fixed;
        inset: 0;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
