@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
a,
button,
label,
img,
input,
textarea,
select {
    display: inline-block;
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}
